@charset "UTF-8";
/** mixin **/
/*
** 레이어 팝업 : 시스템용;
**/
.layer-system { display: none; position: fixed; left: 0; top: 0; width: 100vw; height: 100vh; z-index: 1000; }
.layer-system .modal-container { position: relative; z-index: 10; }
.layer-system .modal-header { padding: 15px; margin: 0; background-color: #3c8dbc; color: #fff; }
.layer-system .modal-header h2 { font-size: 20px; }
.layer-system .modal-content { position: relative; padding: 45px; height: 100%; }
.layer-system .modal-body { padding: 25px; height: 100%; overflow-y: scroll; background-color: rgba(255, 255, 255, 0.9); }
.layer-system .modal-body .system-title { color: #3c8dbc; border-bottom: 1px solid #3c8dbc; font-size: 20px; padding-bottom: 10px; margin-bottom: 10px; }
.layer-system .modal-dimmed { position: fixed; left: 0; top: 0; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.4); z-index: 9; }
.layer-system .btn-modal-close { position: absolute; top: 10px; right: 15px; padding: 5px; color: #fff; font-size: 18px; }
.layer-system .btn-modal-close:after { content: "\f00d"; font-size: 1em; }

/*
** 레이어 팝업 : 기능용;
**/
.layer-modal { display: none; position: fixed; left: 0; top: 0; width: 100vw; height: 100vh; z-index: 1000; }
.layer-modal .modal-container { position: relative; z-index: 10; display: table; width: 100%; height: 100%; text-align: center; }
.layer-modal .modal-container > div { display: table-cell; table-layout: fixed; vertical-align: middle; height: 100%; text-align: left; }
.layer-modal .modal-header { padding: 15px; margin: 0; background-color: #3c8dbc; color: #fff; }
.layer-modal .modal-header h2 { font-size: 20px; }
.layer-modal .modal-content { margin: 0 auto; background-color: #fff; position: relative; width: 500px; }
.layer-modal .modal-body { padding: 15px; }
.layer-modal .modal-dimmed { position: fixed; left: 0; top: 0; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.4); z-index: 9; }
.layer-modal .btn-modal-close { position: absolute; top: 10px; right: 15px; padding: 5px; color: #fff; font-size: 18px; }
.layer-modal .btn-modal-close:after { content: "\f00d"; font-size: 1em; }

/*
** 윈도우 팝업 : 시스템용;
**/
#window_popup .modal-content { position: relative; padding: 45px; height: 100%; }
#window_popup .modal-body { padding: 25px; height: 100%; background-color: rgba(255, 255, 255, 0.9); }
#window_popup .modal-body .system-title { color: #3c8dbc; border-bottom: 1px solid #3c8dbc; font-size: 20px; padding-bottom: 10px; margin-bottom: 10px; }

/*
** 윈도우 팝업 : 기능용;
**/
#function_popup .window_header { padding: 15px; margin: 0; background-color: #3c8dbc; color: #fff; }
#function_popup .window_header h2 { font-size: 20px; }
#function_popup .window_content { padding: 15px; }
