
    /* List-Info */
.list-info {
    margin-bottom: 30px;
}
.list-info dt {
    position: relative;
    margin: 20px 0 5px;
    padding-left: 15px;
    color: #5b5b5b;
    font-size: 14px;
}
.list-info dt:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0px;
    width: 4px;
    height: 4px;
    background: #6a6b6d;
}
.list-info dd {
    color: #5b5b5b;
    font-size: 13px;
    line-height: 1.7em;
}
.list-info dd .list-hyphen li {
    line-height: 1em;
}
/* 별점 */
.score-area {
    clear: both;
    margin-top: 30px;
    border: 1px solid #e6e6e6;
}
.score-area dl {
    overflow: hidden;
}
.score-area dt {
    float: left;
    clear: left;
    width: 20%;
    padding: 15px 25px;
    font-weight: 700;
    border-bottom: 1px solid #e6e6e6;
    background: #f6f9fe;
}
.score-area dt .ico.reply {
    margin: 10px 10px 10px 0;
    vertical-align: middle;
}
.score-area dd {
    float: right;
    width: 80%;
    padding: 15px 25px;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    min-height: 51px;
}
.score-area .s-write {
    position: relative;
    padding-right: 150px
}
.score-area .s-write textarea {
    height: 40px;
}
.score-area .s-write .count {
    float: right;
}
.score-area .s-write .bt {
    position: absolute;
    top: 15px;
    right: 25px;
    height: 40px;
    padding: 5px 30px;
}
.score-area .s-list {
    margin-top: -15px;
}
.score-area .s-list li {
    position: relative;
    padding: 30px 0 10px 90px;
    border-top: 1px solid #e6e6e6;
}
.score-area .s-list li:first-child {
    border-top: 0px;
}
.score-area .s-list li .ico.star-score {
    position: absolute;
    left: 20px;
    top: 30px;
}
.score-area .s-list li strong {
    display: inline-block;
    vertical-align: top;
    margin: 2px 5px 0 0;
    letter-spacing: 0px;
}
.score-area .s-list li p,
.score-area .s-list li textarea {
    margin: 10px 0;
    padding: 10px 20px;
}

.ico.star {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-position: -129px -40px;
}

.ico {
    display: inline-block;
    vertical-align: top;
    background-image: url(../../images/ico/sprite.png);
    background-repeat: no-repeat;
}
.ico.star-score {
    height: 10px;
    margin: 5px 5px 0;
    background-position: -149px -43px;
}
.ico.star-score.ea5 {
    width: 51px;
}
.ico.star-score.ea4 {
    width: 40px;
}
.ico.star-score.ea3 {
    width: 30px;
}
.ico.star-score.ea2 {
    width: 20px;
}
.ico.star-score.ea1 {
    width: 10px;
}

.ico.reply {
    width: 21px;
    height: 20px;
    margin-top: 2px;
    margin-right: 10px;
    background-position: -120px -16px;
}