/** mixin **/
.wrap_tabcont ul { border-bottom: 1px solid #ddd; overflow-x: auto; white-space: nowrap; }
.wrap_tabcont ul.x-scroll li { float: none; }
.wrap_tabcont ul:after { content: ""; display: block; clear: both; overflow: hidden; }
.wrap_tabcont ul li { display: inline-block; border: 1px solid #ddd; border-bottom: 0; background-color: #fff; text-align: center; float: left; }
.wrap_tabcont ul li + li { margin-left: 5px; }
.wrap_tabcont ul li.active { background: #3c8dbc; border-color: #3c8dbc; }
.wrap_tabcont ul li.active a { color: #fff; }
.wrap_tabcont ul li a { display: block; width: 100px; height: 35px; line-height: 35px; font-size: 14px; color: #3c8dbc; }
.wrap_tabcont[class*="tab-column"] li + li { margin-left: 0; border-left: 0; }
.wrap_tabcont[class*="tab-column"] li a { width: 100%; }
.wrap_tabcont.tab-column-1 li { width: 100%; }
.wrap_tabcont.tab-column-2 li { width: 50%; }
.wrap_tabcont.tab-column-3 li { width: 33.3333333333%; }
.wrap_tabcont.tab-column-4 li { width: 25%; }
.wrap_tabcont.tab-column-5 li { width: 20%; }
.wrap_tabcont.tab-column-6 li { width: 16.6666666667%; }
.wrap_tabcont.tab-column-7 li { width: 14.2857142857%; }
.wrap_tabcont.tab-column-8 li { width: 12.5%; }
.wrap_tabcont.tab-column-9 li { width: 11.1111111111%; }
.wrap_tabcont.tab-column-10 li { width: 10%; }

.tab-content { position: relative; }
.tab-content .tab-panel { position: absolute; opacity: 0; visibility: hidden; transform: translateY(20px); }
.tab-content .tab-panel.active { position: relative; opacity: 1; visibility: visible; transform: translateY(0); transition: all 0.25s ease-in; }
