@charset "UTF-8";
@import "../abstracts/variables";
/* reset */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}
html{width:100%;height:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{font-family:'Noto Sans KR',NanumGothic,"나눔고딕","나눔 고딕","맑은 고딕",Malgun Gothic,Dotum,sans-serif;font-size:13px;color:#333;-webkit-tap-highlight-color:transparent}
a{color:inherit;cursor:pointer;text-decoration:none}
ul,li,ol{list-style:none}
img{border:0;vertical-align:top}
a,a:hover,a:active,a:visited{text-decoration:none;-webkit-tap-highlight-color:transparent;cursor:pointer}
fieldset{border:0}
legend,caption{position:absolute;overflow:hidden;width:0;height:0}
textarea{overflow:auto;width:100%;height:150px;resize:none}
button{display:inline-block;vertical-align:middle;cursor:pointer;background:none;font-family:inherit;cursor:pointer;white-space:nowrap;text-decoration:none;background:transparent;border:none;outline:0}
button,input[type="button"],input[type="reset"],input[type="submit"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],input[disabled]{cursor:default}
table{width:100%;border-collapse:collapse;border-spacing:0}
i,em,address{font-style:normal}
small{font-size:80%}
svg:not(:root){overflow:hidden}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
input[type="checkbox"],input[type="radio"]{margin-top:2px;border:none!important}
input[type="radio"]{margin-top:0}
input[type="radio"] + span,input[type="checkbox"] + span{display:inline-block;vertical-align:top;margin-left:10px;margin-right:20px}
.clearFix{*zoom:1}
.clearFix:after{content:"";display:block;clear:both}
.blind{position:absolute;overflow:hidden;width:0;height:0}
.hide{display:none}
input[type="text"],input[type="password"],input[type="search"],input[type="number"],textarea{padding:6px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid #d8d8d8;vertical-align:middle}
input[type="text"],input[type="password"],input[type="search"],input[type="number"]{height:30px}
select{height:30px;padding:5px 6px;border:1px solid #d8d8d8;vertical-align:middle}
input[type="file"]{vertical-align:top;padding:2px;height:34px;background-color:#fff;border:1px solid #d8d8d8}

$total: 50;
/* total 변경시 max 변경 가능 */
@for $i from 0 to $total {
    .margin-#{$i}{
        margin: 1px * $i !important;
    }
    @each $points in top, right, bottom, left{
        .margin-#{$points}-#{$i}{
            margin-#{$points}: 1px * $i !important;
        }
    }
}   
@for $i from 0 to $total {
    .padding-#{$i}{
        padding: 1px * $i !important;
    }
    @each $points in top, right, bottom, left{
        .padding-#{$points}-#{$i}{
            padding-#{$points}: 1px * $i !important;
        }
    }   
}

$width_total : 500;
@for $i from 1 to $width_total {
    .width-#{$i}{
        width: 1px*$i !important;
    }   
}
$height_total : 500;
@for $i from 1 to $width_total {
    .height-#{$i}{
        height: 1px*$i !important;
    }   
}


/* Icon */
.fa {
    margin: 0 5px;
}
.ui-widget-header .ui-icon {
    background-image: url(../../images/ui-icons_444444_256x240.png);
}

/* Position */
.float-right {
	float: right !important;
}
.float-none {
	float: none !important;
	margin:auto;
}
.float-left {
	float: left !important;
}
.text-right {
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-left {
	text-align: left;
}

/* Width */
.full {
    width: 100%;
}
.input-s {
	width: 50px;
}
.input-m {
	width: 100px;
}

/* Text */
.txt-blue {
    color: #0a8cbc;
    font-weight: bold;
}
.txt-gray {
    color: #999;
}
.txt-red {
    color: #e81a1a;
}
.txt-bold {
    font-weight: bold;
}
.txt-prev {
    display: inline-block;
	position: relative;
    padding-right: 35px;
}
.txt-prev:after {
    position: absolute;
    right: 0px;
    top: -3px;
    content: "\f106";
	font: normal normal normal 20px/1 FontAwesome;
}
.txt-next {
    display: inline-block;
	position: relative;
    padding-right: 35px;
}
.txt-next:after {
    position: absolute;
    right: 0px;
    top: -3px;
    content: "\f107";
	font: normal normal normal 20px/1 FontAwesome;
}
.txt-crop {
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.txt-notice {
	display: block;
	margin-bottom: 10px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #5f88dd;
    background: url("../../images/ico/ico-notice.png") no-repeat left center;
}
.essential {
 	color: #e94340;
 	font-size: 0.8em;
 	margin-left: 3px;
}
.check-id {
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
}
.check-data {
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -1px;
    padding: 0 0 5px 20px;
    margin: 8px 0 0 10px
}
p.check-data {
    display: block;
	margin-left: 0px;    
    line-height: 18px;
}
.check-data.available {
    color: #1772f0;
    background: url(../../images/ico/ico-avail.png) no-repeat 0 1px;
}
.check-data.error {
    color: #cc3333;
    background: url(../../images/ico/ico-error.png) no-repeat 0 1px;
}
.check-data.guide {
	color: #acacac;
    background: url(../../images/ico/ico-error.png) no-repeat 0 1px;
}
.important {
    display: inline-block;
    font-size: 11px;
    color: #e94340;
    font-style: normal
}
p.important {
	display: block;
    margin-bottom: 10px;
}
.ellipsis {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

/* table 스타일 */
table td a:active,
table td a:focus,
table td a:hover {
	text-decoration: underline;
}
.table-horizontal {
    width: 100%;
    border-top: 2px solid #767676;
}
.table-horizontal thead th {
    padding: 5px 10px;
    height: 40px;
    color: #767676;
    font-size: 13px;
    font-weight: bold;
    background-color: #f9f9f9;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.table-horizontal thead th:first-child {
    border-left: none;
}
.table-horizontal tbody td {
    padding: 5px 10px;
    height: 40px;
    color: #666;
    font-size: 13px;
    text-align: center;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.table-horizontal tbody td:first-child {
    border-left: none;
}

.table-horizontal .ta-l {
    text-align: left;
}
.table-horizontal tbody td.subject {
	padding-left: 20px;
    text-align: left;
}
.table-horizontal.hover tbody tr:active,
.table-horizontal.hover tbody tr:focus,
.table-horizontal.hover tbody tr:hover {
    background-color: #ecf7fc;
}
.table-horizontal.hover td {
    line-height: 24px;
}
.table-horizontal.hover a:active,
.table-horizontal.hover a:focus,
.table-horizontal.hover a:hover {
    color: #117fb1;
    text-decoration: underline;
}

.table-vertical {
    margin-bottom: 15px;
    border-top: 2px solid #767676;
}
.table-vertical th {
    padding: 5px 10px 5px 30px;
    height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    color: #767676;
    font-size: 13px;
    background-color: #f9f9f9;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.table-vertical th:first-child {
    border-left: none;
}
.table-vertical td {
    line-height: 1.4em;
    padding: 10px 14px;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #666;
    font-size: 13px;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.table-vertical td:first-child {
    border-left: none;
}
.table-vertical tr:last-child th {
    border-bottom: 1px solid #767676;
}
.table-vertical tr:last-child td {
    border-bottom: 1px solid #767676;
}
.table-vertical td dl {
	overflow: hidden;
}
.table-vertical td dl dt {
	float: left;
    clear: left;
    min-width: 30px;
    margin: 5px 10px 5px 0;
    line-height: 30px;
}
.table-vertical td dl dd {
	float: left;
    margin: 5px 10px 5px 0;
    line-height: 30px;
}
.table-vertical td dl dd .input-s {
	text-align: right
}
.table-vertical.type2 tr:last-child th {
    border-bottom: 1px solid #e0e0e0;
}
.table-vertical.type2 tr:last-child td {
    border-bottom: 1px solid #e0e0e0;
}
.table-vertical .addr-area #u-addr {
    margin: 10px 0;
}
.type-page {
    border-top: 1px solid #767676;
}

.table-list tbody tr:active,
.table-list tbody tr:focus,
.table-list tbody tr:hover {
    background-color: #ecf7fc;
}
.table-list a {
    display: block;
    padding: 0px 5px;
    color: #333;
    text-align: left;
    line-height: 1.3em;
}
.table-list a:active,
.table-list a:focus,
.table-list a:hover {
    color: #117fb1;
    text-decoration: underline;
}

/* Img Upload */
.img-upload {
	overflow: hidden;
	border-left: 0px;
}
.img-upload .thumb {
	float: left;
	width: 25%;
	max-width: 300px;
	padding: 0 5px;
    text-align: center;
}
.img-upload .thumb figcaption {
    margin-bottom: 10px;
}
.img-upload .thumb img {
	cursor: pointer;
    width: 100%;
}


/* header */
.inner {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}


/* Search */
.search-form {
	overflow: hidden;
	margin-bottom: 10px;
}
td .search-form {
	margin-bottom: 0px;
}
.search-form .bt-area {
	margin: 0px;
}
.search-form .bt-area + .search-date {
	margin-top: 5px;
}
.search-date {
	display: inline-block;
	position: relative;
}
.search-date .datepicker {
	width: 170px;
	padding-right: 30px;
}
.search-date .ui-datepicker-trigger {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 30px;
	color: #777;
	font-size: 20px;
}
.search-date span {
	display: inline-block;
    margin: 5px 10px;
    vertical-align: top;
}
.search-form .count {
	margin: 5px 0 0;
}

/* Title */
.title-sub-h1 {
    margin-bottom: 40px;
    color: #434343;
    font-size: 30px;
    font-weight: bold;
    line-height: 80px;
    border-bottom: 1px solid #ddd;
}
.title-sub-h2 {
    margin: 50px 0 15px;
    padding-left: 20px;
    color: #343434;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    background: url("../../images/bu/bu-tri.png") no-repeat left center;
}
.title-table {
    display: block;
    height: 50px;
    padding: 13px 32px;
    color: #383838;
    font-size: 20px;
    font-weight: bold;
	border-bottom: 1px solid #e0e0e0;
}
.title-table em {
	color: #0a8cbc;
    font-weight: bold;
}
.title-answer {     
	margin: 50px 0 10px;   
	color: #454545;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
}
.title-answer i {
	display: inline-block;
	width: 30px;
	margin: 0 5px;
	color: #fff;    
	text-align: center;
	border-radius: 50%;
	background: #1a7ac3;
	vertical-align: top;
}
.has-file {
    display: inline-block;
    width: 15px;
    height: 16px;
    background-image: url("../../images/ico/ico-hasfile.png");
    text-indent: -9999px;
}
.count {
	margin-bottom: 10px;
    padding-left: 15px;
    color: #757575;
    font-size: 14px;
    background: url("../../images/bu/bu-dot.png") no-repeat left center;
}
.count em {
    color: #0a8cbc;
    font-weight: bold;
}

/* Location */
.location {
    position: absolute;
    right: 0;
    top: 40px;
}
.location li {
    display: inline-block;
    position: relative;
    padding-left: 15px;
    padding-right: 10px;
    color: #8e8d8d;
}
.location li:after {
    position: absolute;
    left: -3px;
    top: 0px;
    content: "\f104";
	font: normal normal normal 14px/1 FontAwesome;
}
.location li:first-child:after {
    content: "";
}
.location li:last-child {
    color: #183569;
}
.location + .title-sub-h2 {
	margin-top: 0px;
}

/* Pagination */
.pagination {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.pagination div {
    display: inline-block;
    margin: 0px 35px;
    vertical-align: top;
}
.pagination div button {
    width: 25px;
    height: 25px;
    color: #929292;
    font-size: 13px;
    font-weight: bold;
}
.pagination button.current {
    color: #fff;
    background-color: #167ac6;
    border: 1px solid #005595;
}
.pagination .prev {
    height: 25px;
    padding-left: 15px;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    vertical-align: top;
    background: url("../../images/bt/bt-prev.png") no-repeat left center;
}
.pagination .next {
    height: 25px;
    padding-right: 15px;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    vertical-align: top;
    background: url("../../images/bt/bt-next.png") no-repeat right center;
}

/* List */
ul.list-bullet li {
    padding: 3px 5px 3px 10px;
    color: #757575;
    background: url("../../images/bu/bu-dot.png") no-repeat left 12px;
}
ul.list-bullet li em {
    color: #0a8cbc;
    font-weight: bold;
}
ul.list-file li {
    padding: 2px 0;
    color: #336ec7;
}
ul.list-file li button {
    margin-left: 20px;
}

.table-gallery img {
    margin: 15px 0;
    max-width: 768px;
}
table input[type="radio"] {
    vertical-align: middle;
}
.wrap-all-mng {
    position: relative;
}
.table-top {
	margin-bottom: 10px;
}
.area-chart {
	margin-bottom: 50px;
    border: 1px solid #e8e8e8;
}
.wrap-date {
    display: inline-block;
    border: 1px solid #d8d8d8;
}
.wrap-date input {
    border: none;
}
.wrap-date .bt.date {
    width: 30px;
    height: 27px;
    text-indent: -9999px;
    background: url("../../images/bt/bt-date.png") no-repeat center center;
}
.icon-media {
    display: inline-block;
	vertical-align: middle;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    background-image: url("../../images/ico/ico-media.png");
}
.area-media {
    display: inline-block;
    margin: 15px 0;
}

/* Footer */
footer {
    padding: 40px 0 30px;
    border-top: 1px solid #ebebeb;
}
footer > div {
    position: relative;
    margin: 0 auto;
	padding: 0 200px 0 217px;
    width: 1045px;
}
.f-logo {
    position: absolute;
	left: 0px;
	top: 0px;
    width: 152px;
    height: 70px;
    background: url("../../images/logo-footer.png") no-repeat left top;
    text-indent: -9999px;
}
footer ul {
	overflow: hidden;
    margin-bottom: 10px;
}
footer ul li {
    float: left;
    position: relative;
    padding: 0px 10px;
}
footer ul li:after {
    position: absolute;
    left: 0;
    top: 3px;
    content: "";
    width: 0;
    height: 10px;
    border-left: 1px solid #c4c4c4;
}
footer ul li:first-child {
    padding-left: 0;
}
footer ul li:first-child:after {
    border-left: none;
}
footer ul em {
    color: #5f88dd;
    font-weight: normal;
}
footer address,
footer span {
    display: inline-block;
    position: relative;
    padding: 0px 13px;
    font-size: 13px;
}
footer address {
	padding-left: 0px;
}
footer span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 0;
    height: 8px;
    border-left: 1px solid #c4c4c4;
}
footer small {
	display: block;
	margin-top: 20px;
    color: #b7b7b7;
    font-size: 11px;
}
footer select {
    position: absolute;
    right: 0;
    top: 0px;
    width: 145px;
    color: #838383;
    background-color: #f8f8f8;
}

/* Modal Popup Code */
.fix-layout, 
.fix-layout body {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.dim {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #000;
}
.layer-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
	min-width: 300px;
    z-index: 99999;
    background-color: #fff;
    border: 2px solid #064a85;
}
.layer-header {
    padding: 0px 25px;
    line-height: 60px;
    color: #fff;
    font-size: 19px;
    background-color: #064a85;
}
.layer-popup .close {
    position: absolute;
    right: 20px;
    top: 17px;
    width: 25px;
    height: 25px;
    background-image: url("../../images/bt/bt-close.png");
    text-indent: -9999px;
}
.layer-contents {
    overflow-y: auto;
	width: 500px;
	max-height: 600px;
    padding: 20px 25px;
}
.layer-contents .table-vertical th {
    padding-left: 20px;
    background-color: #f9f9f9;
    font-weight: bold;
    white-space: nowrap;
}
.layer-contents .table-vertical thead th {
    padding: 0;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-color: #acb4c4;
}
.layer-contents .table-vertical tr:last-child th {
    border-bottom: 1px solid #e0e0e0;
}
.layer-contents .table-vertical tr:last-child td {
    border-bottom: 1px solid #e0e0e0;
}
.layer-contents .table-vertical td {
    -ms-word-break: break-all;
    word-break: break-all;
}
.layer-footer {
    padding: 0px 25px 20px;
	text-align: right;
}


/* 로그인 */
.login-area {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1100px;
    min-height: 568px;
    background: url("../../images/bg-login.png") no-repeat center center;
}
.login-area article {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1100px;
    height: 586px;
}
.login-area article:before {
	content: '';
	position: absolute;
	top: 30px;
	left: 0px;
	right: 0px;
	height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
}
.login-area hgroup {
	position: relative;
    margin-top: 95px;
    margin-left: 65px;
}
.login-area hgroup h1 {
    padding-top: 150px;
    padding-bottom: 15px;
    color: #fff;
    font-size: 26px;
}
.login-area hgroup h1 i.logo {
	position: absolute;
	top: 0px;
	left: 0px;
    width: 171px;
    height: 51px;
    background-image: url("../../images/logo-login.png");
    text-indent: -9999px;
}
.login-area hgroup p {
    color: #9da0a3;
    font-size: 13px;
    line-height: 1.5em;
}
.user-form {
    position: absolute;
    right: 77px;
    top: 0;
    width: 560px;
    height: 460px;
    background-color: #fff;
}
.user-form.login {
    padding: 95px 60px 0;
}
.user-form legend {
	position: static;
    width: auto;
    height: auto;
    margin-bottom: 45px;
    color: #064a85;
    font-size: 26px;
}
.user-form dl {
    overflow: hidden;
}
.user-form dt {
    float: left;
    clear: left;
    width: 110px;
    margin-bottom: 20px;
    color: #222;
    font-size: 15px;
    line-height: 40px;
    text-indent: 10px;
    border-bottom: 1px solid #d6d6d6;
}
.user-form dd {
    float: left;
    width: 330px;
    margin-bottom: 20px;
    padding: 0 10px;
    border-bottom: 1px solid #d6d6d6;
}
.user-form dd input {
    width: 100%;
	height: 40px;
    border: 0px;
}
.user-form .check-save {
    display: inline-block;
}
.user-form .check-save input {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
.user-form .check-save span {
    vertical-align: middle;
    color: #757575;
    font-size: 13px;
    line-height: 55px;
}
.user-form .bt.underline {
    margin-left: 20px;
    color: #0f78c8;    
    line-height: 55px;
}
.user-form .bt.login {
    float: right;
    width: 200px;
    height: 55px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background-color: #0f78c8;
}
.login-area footer {    
	position: fixed;
    bottom: 0px;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    border: 0px;
}
.login-area footer address,
.login-area footer span {
    display: inline-block;
    position: relative;
    padding: 0px 13px;
    color: #fff;
    font-size: 13px;
}
.login-area footer span:before {
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    width: 0;
    height: 8px;
    content: "";
    border-left: 1px solid #fff;
}
.login-area footer small {
	display: block;
    margin-top: 20px;
    color: #85898d;
    font-size: 11px;
}

/* 약관 */
.block-agreement {
    margin-bottom: 20px;
}
.block-agreement textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 0;
    background: none
}
.block-agreement .terms {
	overflow: auto;
	height: 150px;
    margin-bottom: 10px;
	padding: 5px 5px 5px 10px;
	font-size: 12px;
	line-height: 25px;
	text-align: left !important;
    background: #f0f0f4;
}

@media only screen and (max-width: 800px) {
	
	.table-horizontal .cf:after { 
		visibility: hidden; 
		display: block; 
		font-size: 0; 
		content: " "; 
		clear: both; 
		height: 0; 
	}
	.table-horizontal * html .cf { 
		zoom: 1; 
	}
	.table-horizontal *:first-child+html .cf { 
		zoom: 1; 
	}
	
	.table-horizontal table { 
		width: 100%; 
		border-collapse: collapse; 
		border-spacing: 0; 
	}
	.table-horizontal th,
	.table-horizontal td { 
		margin: 0; 
		vertical-align: top; 
	}
	.table-horizontal th { 
		text-align: left; 
	}
	
	.table-horizontal table { 
		display: block; 
		position: relative; 
		width: 100%; 
	}
	.table-horizontal thead { 
		display: block; 
		float: left; 
	}
	.table-horizontal tbody { 
		display: block; 
		width: auto; 
		position: relative; 
		overflow-x: auto; 
		white-space: nowrap; 
	}
	.table-horizontal thead tr { 
		display: block; 
	}
	.table-horizontal th { 
		display: block; 
		text-align: right; 
	}
	.table-horizontal tbody tr { 
		display: inline-block; 
		vertical-align: top; 
	}
	.table-horizontal td { 
		display: block; 
		min-height: 1.25em; 
		text-align: left; 
	}
 
 
	/* sort out borders */
	.table-horizontal th { 
		border-bottom: 0; 
		border-left: 0; 
	}
	.table-horizontal td { 
		border-left: 0; 
		border-right: 0; 
		border-bottom: 0; 
	}
	.table-horizontal tbody tr { 
		border-left: 1px solid #babcbf; 
	}
	.table-horizontal th:last-child,
	.table-horizontal td:last-child { 
		border-bottom: 1px solid #babcbf; 
	}
}


