@charset "UTF-8";
@import "../abstracts/variables";


.wrap_tabcont{
	ul{
		border-bottom:1px solid $border_color;
		overflow-x:auto;
		white-space:nowrap;
		&.x-scroll{
			li{
				float:none;
			}
		}
		&:after{
			@include clear();
		}
		li{
			display:inline-block;
			border:1px solid $border_color;
			border-bottom:0;
			background-color:#fff;
			text-align:center;
			float:left;
			&+li{
				margin-left:5px;
			}
			&.active{
				background:$theme_color;
				border-color:$theme_color;
				a{
					color:#fff;
				}
			}
			a{
				display:block;
				width:100px;
				height:35px;
				line-height:35px;
				font-size:14px;
				color:$theme_color;
			}
		}
	}

	&[class*="tab-column"]{
		li {
			&+li{
				margin-left:0;
				border-left:0;
			}
			a{
				width:100%;
			}
		}
	}

	@for $i from 1 through 10{
		&.tab-column-#{$i}{
			li{
				width:100%/$i;
			}
		}
	}
	
}

.tab-content{
	position:relative;
	.tab-panel{
		position:absolute;
		opacity:0;
		visibility:hidden;
		transform:translateY(20px);
		&.active{
			position:relative;
			opacity:1;
			visibility:visible;
			transform:translateY(0);
			transition: all 0.25s ease-in;
		}
	}
}